/* Общий контейнер */
.tabs-container {
    display: flex;
    padding: 2vw 0;
}

/* Радио кнопки */
.tabs-container input {
    display: none;
}

/* Секция с вкладками */
.tabs {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-right: 1px solid var(--blue-color);
}

.tabs label {
    display: block;
    padding: 25px 2vw 15px 2vw;
    font-size: clamp(1rem, 1vw, 1.2rem);
    /* font-weight: 500; */
    cursor: pointer;
    transition: background 0.3s ease;

    &:not(:last-child) {
        border-bottom: 1px solid var(--blue-color);
    }

    &:hover {
        background: var(--blue-color);
        color: var(--light-color)
    }
}

/* страница */
.content-container {
    flex: 1;
    padding-left: 2vw;
}

.tab-content {
    display: none;
    width: 100%;
    padding: 10px;

    & h3 {
        margin-top: 15px;
        color: var(--blue-color);
    }

    & p {
        margin-top: 10px;
    }

    & ul {
        list-style: inside;
        margin-top: 5px;
        padding-left: 20px;

        & li::marker {
            color: var(--blue-color);
        }
    }

    & span {
        font-weight: 500;
    }

    & .line {
        margin: 30px 0;
        width: 70vw;
        height: 1px;
        background-color: var(--blue-color);
    }
}

/* при выбранной вкладке включает заданую страницу */
#tab1:checked~.content-container #content1,
#tab2:checked~.content-container #content2,
#tab3:checked~.content-container #content3,
#tab4:checked~.content-container #content4,
#tab5:checked~.content-container #content5,
#tab6:checked~.content-container #content6,
#tab7:checked~.content-container #content7 {
    display: block;
}

/* #content2.tab-content>h2 {
    text-align: center;
    color: var(--dark-color);
} */

/* history */
ul.history__wrapper {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--blue-color);
    padding: 2vw 0 2vw 40px;
}

.history__box {
    position: relative;
    list-style: none;

    &::before {
        position: absolute;
        display: block;
        content: '';
        border-radius: 50%;
        background-color: var(--blue-color);
        height: 20px;
        width: 20px;
        top: 15px;
        left: -40px;
    }

    & .history__date {
        position: absolute;
        top: 15px;
        left: -60px;
    }
}