.contact__header__section {
    position: relative;
    height: 380px;
    overflow: hidden;
}

.contact__header__section>video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact__header__section:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    background: var(--head__gradient);
}

.contact__title {
    position: absolute;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    padding: 0 5vw 3vw 0;
    color: var(--light-color);
    z-index: 2;

    &>h1 {
        font-size: 4rem;
        margin-bottom: 30px;
        color: inherit;
        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.5s ease .5s, transform 0.5s ease .5s;
    }

    &>p {
        max-width: 900px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease .3s, transform 0.5s ease .3s;
    }

    & h1.visible {
        opacity: 1;
        transform: translateX(0);
    }

    & p.visible {
        opacity: 1;
        transform: translateY(0);
    }
}


/* contact + form */
.contact_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vw;

}

.contact_box ol {
    min-width: 450px;
}

.contact_text {

    & a {
        color: var(--dark-color);
        text-decoration: none;
    }

    & a:hover {
        color: var(--blue-color)
    }

    &>h2 {
        font-size: 2rem;
        text-align: left;
    }

    & address {
        margin-top: 10px;
        font-style: normal;
    }

    & h3 {
        margin-top: 20px;
        font-size: 1.2rem;
        color: var(--blue-color);
    }

    & p {
        margin-top: 7px;
    }
}

/* form */
.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    padding: 0 4vw;
    background-color: var(--blue-color);
    border-radius: var(--b-r16);
    box-shadow: 0 0 5px 0px var(--blue-shadow);
    /* color: var(--light-color); */

    &>h2 {
        margin-top: 2.5vw;
        font-size: 2.5rem;
        color: var(--light-color);
    }

    p {
        margin-top: 10px;
        color: var(--dark-color);
    }
}

.form__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__container form .input__wrapper {
    position: relative;
    margin-top: 20px;
    width: 425px;
}

.form__container form input {
    height: 42px;
    width: 100%;
    padding: 0 10px 0 40px;
}

.form__container form input:placeholder-shown {
    text-overflow: ellipsis;
}

.form__container form .input__wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}


.form__container form .input__wrapper:nth-child(1):before {
    background: url('../img/icons/user.svg') center center / contain no-repeat;
}

.form__container form .input__wrapper:nth-child(2):before {
    /* top: 54%; */
    background: url('../img/icons/email.svg') center center / contain no-repeat;
}

.form__container form .input__wrapper:nth-child(3):before {
    background: url('../img/icons/list.svg') center center / contain no-repeat;
}

.form__container textarea {
    width: 425px;
    margin-top: 20px;
    resize: none;
    padding: 10px 10px 10px 15px;
}

.form__container form input,
.form__container textarea,
.form__container button[type=submit] {
    outline: 2px;
    border: none;
    border-radius: var(--b-r16);
    color: var(--dark-color-back);
    /* color: var(--dark-color); */
}


.form__container form>button[type=submit] {
    margin: 10% 0;
    background-color: var(--dark-color);
    background-color: var(--foxy-color);
    color: var(--light-color);
    cursor: pointer;
}

.form__container form>button[type=submit]:hover {
    background-color: var(--blue-color);
    color: antiquewhite;
    border: solid 2px var(--light-color);
}

/* map */
.contact_map {
    position: relative;
    width: 100%;
    animation: map_anime 2s ease-in 0s 1 reverse none;
}

/* anime map */
@keyframes map_anime {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(700px);
    }
}

/* /anime map*/
.contact_map iframe {
    margin-top: 20px;
    /* opacity: .95; */
}