.history__head {
    margin-top: 3vw;
    padding-left: 35px;

    &>h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        color: var(--dark-color);
    }

    &>h2 {
        max-width: 70%;
        font-size: 1.2rem;
        color: var(--dark-color);
    }

}

/* history */
.history__container {
    position: relative;
    display: flex;
    margin: 4vw 0 8vw 0;

    /* Вертикальная линия */
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
        background: linear-gradient(to bottom, #ccc 50%, transparent 50%);
        background-size: 2px 10px;
        transform: translateX(-50%);
    }
}

.history__box {
    position: relative;
    list-style: none;

    /* bal */
    &:not(:first-child)::before {
        position: absolute;
        display: block;
        content: '';
        border-radius: 50%;
        transform: translateX(-50%);
        background-color: var(--blue-color);
        height: 30px;
        width: 30px;
        bottom: -70px;
        left: 50%;
    }
}

.history__desc {
    position: relative;
    height: 100%;
    padding: 2vw;
    color: var(--light-color);
    background: linear-gradient(to bottom, var(--blue-color-hover), var(--blue-color));
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);

    &>h3 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &>p {
        font-size: 16px;
    }
}

.history__date {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--blue-color);
    bottom: -65px;
}

.history__desc.right {
    margin-left: 55%;
    border-radius: 10px 10px 10px 0;

    &>.history__date {
        left: -30px;
        /* bottom: -30px; */
    }
}

.history__desc.left {
    margin-right: 55%;
    border-radius: 10px 10px 0 10px;

    &>.history__date {
        right: -30px;
    }
}