.news-views__wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
}

.news-content {
    margin: 70px 0;
}

.news-header {
    margin-bottom: 30px;
}

.news-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 15px;
}

.meta {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.news__author,
.news__date {
    position: relative;
    padding-left: 25px;
}

.news__category {}

.news__author::before,
.news__date::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease;
}

.news__author::before {
    background: url('../img/icons/author-w-blue.svg') center center / cover no-repeat;
    top: 50%;
}

.news__date::before {
    background: url('../img/icons/calendar.svg') center center / cover no-repeat;
    top: 45%;
}

/* .news-content:hover .news__author::before {
    background: url('../img/icons/author-w-blue.svg') center center / cover no-repeat;
} */

/* .news-content:hover .news__date::before {
    background: url('../img/icons/calendar-hover.svg') center center / cover no-repeat;
} */

.news-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--b-r16);
    margin-bottom: 20px;
}

.content {
    max-width: 1000px;
}

.content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 20px 0;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
    color: #00C4B4;
    border-left: 4px solid #00C4B4;
    padding-left: 15px;
    margin: 20px 0;
}


/* aside */
.news__aside {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 125px 0 10vw 0;
    align-self: start;
    height: fit-content;
}

.news__aside h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.news__aside__box {
    font-size: 1rem;
    margin-top: 30px;

    &:first-child {
        margin-top: 15px;
    }

    & h4 {
        margin-top: 10px;
        transition: color 1s ease;
    }

    & p {
        margin-top: 8px;
        color: var(--dark-color-back);
        font-size: 15px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.news__header__img {
    border-radius: var(--b-r16);
    overflow: hidden;

    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 60% top;
        border-radius: var(--b-r16);
        transition: transform .3s ease;
    }
}

.news__aside__box:hover {
    & img {
        transform: scale(1.02);
    }

    & h4 {
        color: var(--foxy-color);
    }

    & p {
        color: var(--dark-color);
    }
}


/* Адаптивность */
@media (max-width: 1440px) {
    .news-views__wrapper {
        grid-template-columns: 1fr 250px;
    }

    .news__header__img {
        & img {
            height: 150px;
        }
    }
}

@media (max-width: 900px) {
    .news-views__wrapper {
        grid-template-columns: 1fr;
    }

    .news-content {
        margin-bottom: 2vw;
    }

    .news__aside {
        margin-top: 1vw;
        justify-self: center;
        width: 100%;
        margin-top: 20px;
    }

    .news__header__img {
        & img {
            height: 250px;
        }
    }

    .news-header h1 {
        font-size: 2rem;
    }

    .content {
        max-width: 100%;
    }
}