.news__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    text-align: center;

    &>p {
        font-size: 1.1rem;
        color: var(--dark-color);
    }

    &>h1 {
        font-size: 3rem;
        color: var(--blue-color);
        text-transform: uppercase;

        &>span {
            color: var(--dark-color);
        }
    }
}

/* news */
.news-view__section {
    margin: 4vw;
}

.news-view__container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2vw;
}

.news-view__content {
    background: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.news-view__header {
    position: relative;
    overflow: hidden;
    height: 600px;

    &>h2 {
        text-align: center;
        font-size: 1.8rem;
        padding: 2vw;
    }

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.news-view__body {
    padding: 1vw 2vw;

    & h3 {
        margin-top: 15px;
        font-size: 1.3rem;
        color: var(--blue-color);
    }

    & ul,
    ol {
        margin: 10px 1vw;
    }

    & ul {
        list-style-type: disc;
    }

    & ol {
        list-style: decimal;
    }

    & li::marker {
        color: var(--blue-color);
    }
}

.news-view__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    padding: 1vw;
    background: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    & a {
        color: var(--blue-color);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--blue-color-hover);
        }
    }
}

/* Боковая панель с новостями */
.news-view__sidebar {
    background: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1vw;
    height: fit-content;
}

.news-view__sidebar-title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-align: center;
    color: var(--blue-color);
}

.news-view__sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news-view__sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;

    & img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }

    & h3 {
        font-size: .9rem;
        color: var(--dark-color);
        line-height: 1.4;
    }

    & .date {
        font-size: 0.9rem;
        color: var(--blue-color);
        text-align: center;
    }
}

/* Адаптивная верстка */
@media (max-width: 1100px) {
    .news-view__container {
        grid-template-columns: 1fr;
    }

    .news-view__sidebar {
        margin: 2vw 0;
    }
}

@media (max-width: 600px) {
    .news-view__section {
        margin: 2vw;
    }

    .news-view__header {
        height: 300px;
    }
}