/* @import url('https://fonts.googleapis.com/css2?family=M PLUS 1+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url(https: //fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900|Roboto:wght@300;400;500;900); */
@import url(https: //fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900|Roboto:wght@300;400;500;900|Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400);

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding-inline: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-background: rgb(255, 255, 255);
    --dark-background: rgba(0, 0, 0, 0.04);
    --light-color: rgb(246, 251, 255);
    --dark-color: rgb(18, 8, 59);
    --blue-color: rgb(0, 171, 255);
    --blue-color-hover: rgb(26, 146, 206);
    --blue-shadow: rgb(159, 201, 223);
    --foxy-color: rgb(240, 124, 15);
    --food__empire__logo: #081e8e;
    --font-family: 'Fira Sans', sans-serif;
    /* --font-family: 'Inter', sans-serif; */
    /* --font-family: 'Roboto', sans-serif; */
    /* --font-family: 'Zain', sans-serif; */

    /* @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width: 375px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    } */
}

html {
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--dark-background);
    color: var(--dark-color);
}

.default__container {
    /* padding: 0 var(--container-padding-inline); */
    /* max-width: 1440px; */
    max-width: 1716px;
    margin: auto;

    @media screen and (max-width:1780px) {
        margin: 0 6%;
    }
}

/* top block socials */
.header__top {
    height: 90px;
    /* background-color: var(--dark-background); */
    position: relative;
    z-index: 9;
}

.header__top__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.logo__block {
    height: 90px;
    min-width: 215px;
    padding: 5px 0;

    & img {
        height: 100%;
    }
}

.header__right__block {
    display: flex;
    flex-direction: column;
}

.header__address {
    display: flex;
    justify-content: end;
    font-style: normal;
    height: 25px;
    font-weight: 600;
    font-size: 15px;
}

.tell__box,
.mail__box {
    display: flex;
    position: relative;
    align-items: end;

    &::before {
        position: absolute;
        left: 0;
        content: '';
    }

    &>a {
        margin-left: 6px;
        color: var(--blue-color);
        transition: color 0.3s ease;

        &:hover {
            color: var(--blue-color-hover);
        }
    }

    &>p {
        margin-left: 23px;
    }
}

.tell__box {
    &::before {
        top: 8px;
        width: 17px;
        height: 17px;
        background: url(../img/icons/footer/phone.svg) center center /cover no-repeat;
    }
}

.mail__box {
    margin-left: 20px;

    &::before {
        top: 7px;
        width: 20px;
        height: 20px;
        background: url(../img/icons/footer/email.svg) center center /cover no-repeat;
    }
}

.social__container {
    display: flex;
    align-items: center;
    height: 65px;
}

.social__box {
    display: flex;
    justify-content: end;
    width: 100%;

    &>a {
        margin-right: 10px;
        box-shadow: 0 0 5px var(--blue-shadow);
    }

    & .header__icons {
        width: 28px;
        height: 28px;
        transition: filter .3s ease;
    }

    & .header__icons:hover {
        filter: brightness(60%);
    }

    & .facebook__link {
        background: url(../img/icons/footer/facebook.svg) center center /cover no-repeat;
    }

    & .telegram__link {
        background: url(../img/icons/footer/telegram.svg) center center /cover no-repeat;
    }

    & .youtube__link {
        background: url(../img/icons/footer/youtube.svg) center center /cover no-repeat;
    }
}

/* search block */
.search__box {
    position: relative;

    & #search input[type="text"] {
        width: 82px;
        height: 30px;
        padding: 2px 2px 2px 32px;
        border-radius: 3px;
        border: none;
        background-color: inherit;
        color: var(--dark-color);
        outline: none;
    }

    & input[type="text"]::placeholder {
        color: var(--dark-color);
    }

    & #search input[type="text"]:focus {
        width: 230px;
        border: solid 1px var(--blue-color);
        background-color: var(--light-background);
        transition: width .5s;
        box-shadow: 0 0 3px var(--blue-shadow);
        font-size: .9rem;
    }
}

.search__button {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 3px;
    left: 5px;
    border: none;
    background: url(../img/icons/footer/search.svg) center center / cover no-repeat;
    cursor: pointer;
}


/* header */
.header__nav {
    position: relative;
    z-index: 3;
}

.header__main {
    background-color: var(--blue-color);
    width: 100%;
    box-shadow: 0 0 5px var(--blue-shadow);
}

.header__main_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
}

.name__company {
    display: flex;
    align-items: center;

    & a {
        margin: auto 0 auto 0;
        color: var(--light-color);
        font-weight: 400;
        padding-left: 35px;
        font-size: 30px;
        text-shadow: 0 0 1px var(--dark-color);
    }
}

/* nav */
.nav_list {
    display: flex;
    align-items: center;
}

.nav_list>li {
    display: inline-block;
    position: relative;
    transition: background .3s ease;
}

ul.nav_list li.active,
ul.nav_list>li:hover {
    background-color: var(--blue-color-hover);
}

.nav_list li a {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 50px;
    padding: 0 10px;
    color: var(--light-color);
}

.sub_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 51px;
}

.sub_menu li {
    width: 100%;
    display: block;
    padding: 0 10px;
    background-color: var(--blue-color);
    border-bottom: solid 1px var(--light-color);
    box-shadow: 0 0 5px var(--blue-shadow);
    transition: background .3s ease;
}

.sub_menu li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sub_menu li:hover {
    background-color: var(--blue-color-hover);
}

ul.nav_list li:hover ul.sub_menu {
    display: block;
}

/* footer */
footer {
    position: relative;
    z-index: 3;
    background-color: var(--blue-color);
    width: 100%;
    box-shadow: 0 0 10px var(--blue-shadow);
}

.footer_info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 30px 20px;
    gap: 2vw;
    justify-content: center;

    & a,
    li {
        color: var(--dark-color);
        font-weight: 600;
        font-size: 14px;
        transition: color .3s ease;

        &:hover {
            color: var(--food__empire__logo);
        }
    }

    & p {
        margin-top: 15px;
        color: var(--light-color);
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 20px;
    }
}

.footer_info>li {
    min-width: 120px;

}

.footer_info li ul li {
    margin: 6px 0;
}

.footer__social__box {
    display: flex;
    justify-content: start;
    width: 100%;

    &>a {
        margin: .8vw 1vw .8vw 0;
        box-shadow: 0 0 2px var(--blue-shadow);

    }

    & .foofter__icons {
        width: 40px;
        height: 40px;
        transition: filter .3s ease;

        &:hover {
            filter: brightness(60%);
        }
    }

    & .facebook__link {
        background: url(../img/icons/footer/facebook.svg) center center /cover no-repeat;
    }

    & .telegram__link {
        background: url(../img/icons/footer/telegram.svg) center center /cover no-repeat;
    }

    & .youtube__link {
        background: url(../img/icons/footer/youtube.svg) center center /cover no-repeat;
    }
}

.footer__copyright {
    text-align: center;
    padding-bottom: 20px;
    font-size: .9rem;
    font-weight: 600;

    & span {
        color: var(--light-color);
    }
}