main ul,
main ol {
  list-style: inside;
  margin-left: 10px;
  font-size: clamp(14px, 1.5vw, 1rem);

  & li::marker {
    color: var(--blue-color);
  }
}

.supp {
  position: relative;
  height: 380px;

  & .supp__section-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--head__gradient), url(../img/page/suppliers/sklad2.jpg) center bottom / cover no-repeat fixed;
    z-index: 2;
  }
}

.supp__header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 100%;
  z-index: 99;

  & .supp__title {
    font-size: 4rem;
    color: var(--light-color);
  }

  & .supp__desc {
    margin: 20px 0 50px 0;
    font-size: 1.3rem;
    color: var(--light-color);
  }
}

/* supp-base */
.supp-base__container {
  margin-top: 4vw;
  padding: 40px;
  background-color: var(--light-background);
  border-radius: var(--b-r16);
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
}

.supp-base__header {
  position: relative;
  padding-left: 80px;

  & .supp-base__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-color);
  }

  & .supp-base__title::before {
    content: '';
    position: absolute;
    background: url('../img/icons/supplier.svg') center center / contain no-repeat;
    width: 60px;
    height: 60px;
    left: 0;
  }

  & .supp-base__desc {
    margin-top: 15px;
  }
}

.supp-base__content {
  margin-top: 2rem;
  padding: 30px 20px;
  background-color: var(--dark-background);
  border-left: 5px solid var(--blue-color);
  border-radius: 8px;
  line-height: var(--line-h);
}

/* supp-desc */
.supp-desc__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(20px, 6vw, 60px);
  margin-top: 4vw;
}

.supp-desc__container {
  position: relative;
  padding: 35px;
  max-width: 650px;
  border-radius: var(--b-r16);
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);

  & .supp-desc__title {
    padding-left: 45px;
    font-size: 1.4rem;
    color: var(--dark-color);
  }

  & .supp-desc__title::before {
    content: '';
    position: absolute;

  }

  & .supp-desc__content {
    margin-top: 25px;
    line-height: var(--line-h);

    &>p {
      margin-top: 10px;
    }

    & a {
      position: relative;
    }
  }
}

.supp-desc__container:first-child {
  background-color: rgb(22 163 74 / .4);
}

.supp-desc__container:last-child {
  background-color: rgb(88 22 163 / 0.4);
}

& .supp-desc__container:first-child .supp-desc__title::before {
  width: 35px;
  height: 35px;
  top: 33px;
  left: 36px;
  background: url('../img/icons/supp.svg') center center / contain no-repeat;
}

& .supp-desc__container:last-child .supp-desc__title::before {
  width: 34px;
  height: 34px;
  top: 29px;
  left: 33px;
  background: url('../img/icons/supp2.svg') center center / contain no-repeat;
}

.supp-desc__content address {
  margin-top: 15px;

  & a {
    padding-left: 23px;
    font-style: normal;
    color: var(--dark-back);

    &::before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      top: 1px;
      left: 0px;
    }

    &:first-child:before {
      background: url('../img/icons/mail-dark.svg') center center / contain no-repeat;
    }

    &:last-child::before {
      background: url('../img/icons/phone-dark.svg') center center / contain no-repeat;
    }
  }
}


/* tabs */
.tabs {
  margin-top: 0;

  & .title {
    margin-top: 0;
  }
}

.tabs__background {
  /* padding: 3vw; */
  /* background-color: var(--white-blue-background); */
  /* border-radius: var(--b-r16); */
  /* box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11); */
}

.tabs__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.tabs__button {
  min-width: 250px;
  margin-top: 30px;
  padding: 10px 20px;
  color: var(--dark-color);
  /* border: 2px solid rgba(0, 0, 0, 0.001); */
  border: none;
  /* background-color: var(--dark-background); */
  background-color: var(--light-color);
  /* background-color: inherit; */
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s ease, color 0.5s ease;
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
}

.tabs__button:hover,
.tabs__button.tab-active {
  background: inherit;
  background: var(--blue-color);
  /* color: var(--blue-color); */
  color: var(--light-color);
  /* border: 2px solid var(--blue-color); */
}

.tabs__button:focus {
  /* outline: 2px solid #00C4B4; */
  outline-offset: 2px;
}

.tabs__content {
  margin-top: 50px;
  padding: 30px 40px;
  border-radius: var(--b-r16);
  background-color: var(--light-color);
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
}

.tabs__panel {
  display: none;
}

.tabs__panel.tab-active {
  display: block;

  & p {
    margin-top: 8px;
  }

  &>p,
  &>ul>li {
    line-height: var(--line-h);
  }
}

/*   */
.supp-new {
  margin-top: 3vw;
  line-height: var(--line-h);
}

.supp-new__wrapper {
  display: grid;
  grid-template-columns: auto minmax(350px, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(20px, 4vw, 60px);
  background-color: var(--light-color);
  /* background: var(--head__gradient); */
  border-radius: var(--b-r16);
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
}

.supp-new__desc {
  padding: 35px 0 35px 35px;
  max-width: 850px;

  & h2 {
    font-size: clamp(1.2rem, 1.5vw, 2.6rem);
    margin-bottom: 20px;
  }

  & p {
    margin-top: 10px;
    line-height: var(--line-h);
    color: var(--dark-back);
  }
}

.line__blue {
  margin: 0 auto 20px 0;
  width: 9vw;
}

.supp-new__img {
  position: relative;
  max-width: 300px;
  /* width: 100%; */
  height: 100%;
  max-width: 650px;
  border-top-right-radius: var(--b-r16);
  border-bottom-right-radius: var(--b-r16);
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -10%;
    left: -27px;
    width: 65px;
    height: 110%;
    transform: rotate(5deg);
    background-color: var(--light-color);
  }
}

/* docs */
.docs {
  padding: 4vw 0 3vw 0;
}

.docs__title {
  margin: 0 auto;
  max-width: 900px;
}

.docs__tab-wrapper {
  transition: box-shadow 0.3s ease;
  border-radius: var(--b-r16);
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin: 40px 0;
  box-shadow: 0 .375rem .875rem 0 rgba(0, 0, 0, .13), 0 .0625rem .25rem 0 rgba(0, 0, 0, .11);
}

.docs__tab {
  display: none;
}

.docs__tab:checked:nth-of-type(1)~.docs__tab-content:nth-of-type(1),
.docs__tab:checked:nth-of-type(2)~.docs__tab-content:nth-of-type(2) {
  line-height: var(--line-h);
  opacity: 1;
  /* transition: opacity 0.5s ease-in, transform 0.8s ease; */
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
}

.docs__tab:nth-of-type(1)+label,
.docs__tab:checked:nth-of-type(1)~.docs__tab-content:nth-of-type(1),
.docs__tab:checked:nth-of-type(1)+label {
  background-color: rgb(22 163 74 / .4);
}

.docs__tab:nth-of-type(2)+label,
.docs__tab:checked:nth-of-type(2)~.docs__tab-content:nth-of-type(2),
.docs__tab:checked:nth-of-type(2)+label {
  background-color: rgb(88 22 163 / 0.4);
}

.docs__tab:first-of-type:not(:last-of-type)+label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .docs__tab:not(:first-of-type):not(:last-of-type)+label {
  border-radius: 0;
} */

.docs__tab:last-of-type:not(:first-of-type)+label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.docs__tab:checked+label {
  /* background-color: #fff; */
  /* box-shadow: 0 -1px 0 #fff inset; */
  cursor: default;
}

.docs__tab:checked+label:hover {
  /* box-shadow: 0 -1px 0 #fff inset; */
  /* background-color: #fff; */
}

.docs__tab+label {
  /* box-shadow: 0 -1px 0 #eee inset; */
  border-radius: var(--b-r16) var(--b-r16) 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  flex-grow: 3;
  text-align: center;
  font-size: 1.2rem;
  font-family: Oswald;
  font-weight: 500;
  color: var(--dark-color);
  /* background-color: #f2f2f2; */
  user-select: none;
  /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
  padding: 20px;
}

.docs__tab+label:hover {
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}

.docs__tab-content {
  padding: 30px 35px 45px 35px;
  /* background-color: transparent; */
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-bottom-left-radius: var(--b-r16);
  border-bottom-right-radius: var(--b-r16);
}


/* Адаптивность */
@media (max-width: 768px) {
  .tabs__nav {
    flex-wrap: wrap;
    gap: 5px;
  }

  .tabs__button {
    padding: 8px 15px;
    font-size: 0.9rem;
    flex: 1;
    text-align: center;
  }

  .tabs__content {
    padding: 15px;
  }
}