@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.pp {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Inter';
  font-size: 18px;

  &>.bb {
    font-weight: 500;
  }

  &>.uu {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.pp:nth-child(2) {
  font-family: 'Source Sans 3', sans-serif;

  &>.bb {
    font-weight: 500;
  }
}

.pp:nth-child(3) {
  font-family: 'Roboto';

  &>.bb {
    font-weight: 500;
  }
}

.pp:nth-child(4) {
  font-family: 'Lato', sans-serif;

  &>.bb {
    font-weight: 500;
  }
}

.pp:nth-child(5) {
  font-family: 'Lora', serif;

  &>.bb {
    font-weight: 500;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery a {
  display: block;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery a:hover {
  transform: scale(1.05);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стили для модального окна */
.lightbox {
  display: none;
  position: sticky;
  top: center;
  left: center;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
  justify-content: center;
  align-items: center;
  /* opacity: .5; */
  z-index: 1;
}

.lightbox:target {
  display: flex;
  z-index: 2;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border: 2px solid #020202;
  border-radius: 5px;
  z-index: 2;
}

/* Кнопка закрытия */
/* .lightbox:target:after {
  content: "✖";
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-decoration: none;
} */