main ul {
    list-style: inside;

    & li::marker {
        color: var(--blue-color);
    }
}

h2 {
    font-size: clamp(22px, 4vw, 2.3rem);
}

.tags {
    /* max-width: 600px; */
    display: flex;
    align-items: center;
    margin-top: 15px;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;

    & li {
        background-color: var(--blue-color);
        border-radius: 30px;
        padding: 6px 15px;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--light-color);
    }
}



/* h1 section */
.h1__section {
    position: relative;
    width: 100%;
    height: 380px;
}

.photo__head__section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--head__gradient), url(../img/page/buyers/clients2.jpg) center bottom / cover no-repeat fixed;
    z-index: 2;
}

.vacancies_head__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 380px;
    color: var(--light-color);
    z-index: 4;

    &>h1 {
        font-size: 4rem;
        margin-bottom: 10px;
        color: var(--light-color);
    }

    &>a {
        margin: 2.5vw 0;
        background-color: var(--light-background);
        color: var(--dark-color);

        &:hover {
            background-color: var(--blue-hover);
            color: var(--light-background);
            border: solid 1px var(--light-background);
        }
    }
}

/* about and belief*/
.about_company__wrapper,
.belief_company__wrapper {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-top: 4vw;
    text-align: right;
}

.belief_company__wrapper {
    text-align: left;

    &>.desc__wrapper>.line__blue {
        margin: 2vw auto 2vw 0;
    }
}

.desc__wrapper {
    width: 100%;

    & p:not(:first-child) {
        margin-top: 15px;
    }
}

.img__box {
    width: 100%;

    img {
        height: 23vw;
        width: 100%;
        border-radius: var(--b-r16);
        object-fit: cover;
        object-position: center;

    }
}

/* questions */
.questions__section {
    margin-top: 4vw;
    background-color: var(--white-blue-background);
}

.questions__block {
    padding: 3vw 0 4vw 0;

    &>h2 {
        text-align: center;
    }

    & .line__blue {
        margin: 2vw auto 1vw auto;
    }

    .questions__wrapper {
        display: flex;
        justify-content: center;
        gap: 2vw;
        /* flex-wrap: wrap; */
    }
}

.left__block__questions,
.right__block__questions {
    display: flex;
    flex-direction: column;
    width: 100%;

    &>details {
        max-width: 100%;
        margin-top: 1vw;
        background-color: var(--light-background);
        border-radius: var(--b-r16);

        &>*:not(summary) {
            display: block !important;
            /* Заставляем контент всегда быть в DOM */
        }
    }
}

.header__questions {
    cursor: pointer;
    list-style: none;
    position: relative;
    padding: clamp(10px, 2vw, 30px);

    &::-webkit-details-marker {
        display: none;
    }

    &::before {
        content: '▶';
        position: absolute;
        top: 40%;
        right: clamp(15px, 2vw, 25px);
        transition: transform 0.3s ease;
        color: var(--dark-color);
    }

    &>h3 {
        max-width: 90%;
        font-weight: 500;
    }
}

details[open] .header__questions {
    &>h3 {
        color: var(--blue-color);
    }

    &::before {
        transform: rotate(90deg);
        color: var(--blue-color);
    }
}

.question__desc {
    font-size: clamp(14px, 1rem, 1rem);
    overflow: hidden;
    height: 0;
    /* padding: 0 clamp(10px, 2vw, 30px); */
    padding-top: 0;
    transition: height .5s ease;
}

/* details[open] .question__desc {
    height: auto;
} */

.question__desc.open {
    padding: 0 clamp(10px, 2vw, 20px) clamp(10px, 2vw, 30px) clamp(10px, 2vw, 30px);
}

/* vacancies */
.vacancies {
    margin-top: 4vw;
    padding: 3vw 0;
    background-color: var(--white-blue-background);
}

.vacancies>.default__container>h2 {
    text-align: center;
}

.vacancies>.default__container>.line__blue {
    margin: 2vw auto 1vw auto;
}

.vacancies__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vacancies__template {
    margin-top: clamp(10px, 1vw, 1.5vw);
    padding: clamp(10px, 1.5vw, 2vw);
    width: 100%;
    max-width: 1200px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 5px var(--blue-shadow);
    border-radius: var(--b-r16);
}

.vacancie__header {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.vacancie__header {
    &>p {
        font-size: 15px;
    }

    & p span {
        color: var(--blue-color);
    }

    &>h3 {
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

.vacancie__header .icons {
    position: relative;
    padding-left: 25px;
    margin-top: 5px;

    &::before {
        position: absolute;
        top: -3px;
        left: 0;
        content: '';
    }
}

.vacancie__header .wages {
    display: flex;
    padding-left: 22px;
    margin-top: 8px;

    &.icons::before {
        width: 20px;
        height: 20px;
        background: url(../img/icons/cash.svg) center center /cover no-repeat;
    }

    & .wages__cash {
        margin: 0 5px;
        font-weight: 500;
        color: var(--foxy-color);
    }

    & .wages__uah {
        font-weight: 500;
    }

    & .wages__desc {
        margin-left: 5px;
    }

}

.vacancie__header .vacancie__place {
    & span {
        color: var(--dark-color);
    }

    &.icons::before {
        width: 19px;
        height: 19px;
        background: url(../img/icons/place.svg) center center /cover no-repeat;
    }
}

.vacancie__header .vacancie__mode {

    &.icons::before {
        top: -1px;
        width: 17px;
        height: 17px;
        background: url(../img/icons/calendar.svg) center center /cover no-repeat;
    }
}

.vacancie__header .vacancie__yes {
    margin-top: 6px;

    &.icons::before {
        top: -1px;
        width: 18px;
        height: 18px;
        background: url(../img/icons/yes.svg) center center /cover no-repeat;
    }
}

/* content */
.vacancie__content {
    font-size: clamp(14px, 15px, 16px);

    & h3 {
        margin-top: 15px;
        text-indent: 1.3em;
        font-size: clamp(16px, 1.1rem, 1.3rem);
    }

    & p {
        margin-top: 15px;
    }

    & li:first-child {
        margin-top: 5px;
    }

    & a {
        color: var(--dark-color);
        font-weight: 600;

        &:hover {
            color: var(--blue-color);
        }
    }
}

/* last__question */
.last__question__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 5% 3vw 5%;
    text-align: center;

    &>.line__blue {
        margin: 2vw auto 2vw auto;
    }

    &>p {
        font-size: clamp(14px, 2vw, 1.3rem);
    }

    &>a {
        margin-top: 3vw;
        background-color: var(--blue-color);
        color: var(--light-color);
        box-shadow: 0px 0px 5px var(--blue-shadow);

        &:hover {
            background-color: var(--blue-hover);
            color: var(--dark-color);
            border: solid 1px var(--blue-color);
        }
    }
}