main ul {
    list-style: inside;

    & li::marker {
        color: var(--blue-color);
    }
}

h2 {
    font-size: 2.5rem;
}

.tags {
    /* max-width: 600px; */
    display: flex;
    align-items: center;
    margin-top: 15px;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;

    & li {
        background-color: var(--blue-color);
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--light-color);
    }
}

.line__blue {
    display: block;
    width: 6vw;
    height: 3px;
    margin: 2vw 0 2vw auto;
    background-color: var(--blue-color);
}

/* h1 section */
.h1__section {
    position: relative;
    width: 100%;
    height: 400px;
    color: var(--light-background);
    font-size: 17px;
}

.photo__head__section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--head__gradient), url(../img/page/buyers/clients2.jpg) center bottom / cover no-repeat fixed;
    z-index: 2;
}

.vacancies_head__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 400px;
    z-index: 4;

    & h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3vw 0 3vw 0;
        padding: auto;
        width: 200px;
        height: 45px;
        background-color: var(--light-background);
        color: var(--dark-color);
        border-radius: 3px;
        transition: all .3s ease;

        &:hover {
            background-color: var(--blue-hover);
            color: var(--light-background);
            border: solid 1px var(--light-background);
        }
    }
}

/* about and belief*/
.about_company__wrapper,
.belief_company__wrapper {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-top: 4vw;
    text-align: right;
}

.belief_company__wrapper {
    text-align: left;

    &>.desc__wrapper>.line__blue {
        margin: 2vw auto 2vw 0;
    }
}

.desc__wrapper {
    width: 100%;

    & p {
        font-size: 16px;
    }

    & p:not(:first-child) {
        margin-top: 15px;
    }
}

.img__box {
    width: 100%;

    img {
        height: 23vw;
        width: 100%;
        border-radius: 3px;
        object-fit: cover;
        object-position: center;

    }
}

/* questions */
.questions__section {
    margin-top: 4vw;
    background-color: var(--white-blue-background);
}

.questions__block {
    padding: 3vw 0 4vw 0;

    &>h2 {
        text-align: center;
    }

    & .line__blue {
        margin: 2vw auto 1vw auto;
    }

    .questions__wrapper {
        display: flex;
        gap: 2vw;
    }
}

.left__block__questions,
.right__block__questions {
    display: flex;
    flex-direction: column;
    width: 100%;

    &>details {
        width: 100%;
        margin-top: 1vw;
        padding: 30px;
        background-color: var(--light-background);
        border-radius: 5px;

        &>*:not(summary) {
            display: block !important;
            /* Заставляем контент всегда быть в DOM */
        }
    }
}

.header__questions {
    cursor: pointer;
    list-style: none;
    position: relative;

    &::-webkit-details-marker {
        display: none;
    }

    &::before {
        content: '▶';
        position: absolute;
        top: 4px;
        right: 10px;
        transition: transform 0.3s ease;
    }

    &>h3 {
        font-size: 1.5rem;
    }
}

details[open] .header__questions {
    color: var(--blue-color);

    &::before {
        transform: rotate(90deg);
    }
}

.question__desc {
    margin-top: 1vw;
    font-size: 16px;
    overflow: hidden;
    height: 0;
    /* transform: scaleY(0); */
    /* transform-origin: top; */
    /* transition: transform .5s ease; */
    transition: height .5s ease;
}

details[open] .question__desc {
    /* transform: scaleY(1); */
    height: auto;
}

/* vacancies */
.vacancies {
    margin-top: 4vw;
    padding: 3vw 0;
    background-color: var(--white-blue-background);
}

.vacancies>.default__container>h2 {
    text-align: center;
}

.vacancies>.default__container>.line__blue {
    margin: 2vw auto 1vw auto;
}

.vacancies__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vacancies__template {
    margin-top: clamp(10px, 1vw, 1.5vw);
    padding: clamp(10px, 1.5vw, 2vw);
    width: 100%;
    max-width: 1200px;
    background-color: var(--light-color);
    box-shadow: 0px 0px 5px var(--blue-shadow);
    border-radius: 5px;
}

.vacancie__header {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    cursor: pointer;
}

.vacancie__header {
    & p span {
        color: var(--blue-color);
    }

    &>h3 {
        margin-top: 5px;
        font-size: 1.5rem;
    }
}

.vacancie__header .icons {
    position: relative;
    padding-left: 25px;
    margin-top: 5px;

    &::before {
        position: absolute;
        top: -3px;
        left: 0;
        content: '';
    }
}

.vacancie__header .wages {
    display: flex;
    padding-left: 22px;
    font-size: 1.2rem;

    &.icons::before {
        width: 20px;
        height: 20px;
        background: url(../img/icons/vacancies/cash.svg) center center /cover no-repeat;
    }

    & .wages__cash {
        margin: 0 5px;
        font-weight: 600;
        color: var(--foxy-color);
    }

    & .wages__uah {
        font-weight: 600;
    }

    & .wages__desc {
        margin-left: 5px;
    }

}

.vacancie__header .vacancie__place {
    & span {
        font-weight: 500;
        color: var(--dark-color);
    }

    &.icons::before {
        width: 19px;
        height: 19px;
        background: url(../img/icons/vacancies/place.svg) center center /cover no-repeat;
    }
}

.vacancie__header .vacancie__mode {
    font-weight: 500;

    &.icons::before {
        width: 17px;
        height: 17px;
        background: url(../img/icons/vacancies/calendar.svg) center center /cover no-repeat;
    }
}

.vacancie__header .vacancie__yes {
    font-weight: 500;
    margin-top: 6px;

    &.icons::before {
        width: 18px;
        height: 18px;
        background: url(../img/icons/vacancies/yes.svg) center center /cover no-repeat;
    }
}

/* content */
.vacancie__content {

    & h3 {
        margin-top: 10px;
        text-indent: 1.3em;
    }

    & p {
        margin-top: 15px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    & li:first-child {
        margin-top: 5px;
    }

    & a {
        color: var(--dark-color);

        &:hover {
            color: var(--blue-color);
        }
    }
}

/* vacancies__bottom */
.vacancies__bottom p {
    font-size: 1.2rem;
    margin-top: 10px;
    /* text-indent: 2em; */

    &:first-child {
        margin-top: 3vw;
    }
}

/* aside */
.vacancies__aside {
    width: 400px;
    min-width: 300px;
    height: 100%;
    position: sticky;
    top: 1vw;
    padding: 20px;
    background-color: var(--light-background);
    border-radius: 3px;
    box-shadow: 0px 0px 5px var(--blue-shadow);
    font-size: clamp(0.8rem, 1.1vw, 1.1rem);

    &>p:nth-child(2) {
        margin-top: 10px;
    }

    & address {
        margin-top: 10px;
        font-style: normal;

        &>p>a {
            color: var(--blue-color);
            font-weight: 500;
        }

        &>p>span {
            color: var(--dark-color);
        }

        &>p:nth-child(3) {
            margin-top: 10px;
        }
    }

    & h3 {
        margin-top: 10px;
    }

    & span {
        font-weight: 500;
        color: var(--blue-color);
    }

}