main ul {
    list-style: inside;

    & li::marker {
        color: var(--blue-color);
    }
}

.tags {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;

    & li {
        /* width: 100%; */
        background-color: var(--blue-color);
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--light-color);
    }
}


/* about */
.about__vacancies {
    padding-top: 3vw;

    & h1 {
        margin-top: 3vw;
    }
}

.about__vacancies ul {
    list-style: inside;
    margin-top: 15px;

    li {
        font-size: 1.2em;
        line-height: 1.4em;
    }
}


/* vacancies */
.vacancies {
    padding-bottom: 3vw;
}

.vacancies__core {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
    column-gap: 4vw;
    width: 100%;
}

.vacancies__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1216px;
}

.vacancies__template {
    &:not(:first-child) {
        margin-top: 1vw;
    }
}

.vacancie__header {
    background-color: var(--light-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 1vw;
    padding: 1vw;
    border-radius: 3px;
    box-shadow: 0px 0px 5px var(--blue-shadow);
    cursor: pointer;

    & img {
        width: 180px;
        height: 180px;
    }
}

.vacancie__desc {
    & p span {
        color: var(--blue-color);
    }

    & h2 {
        margin-top: 5px;
    }
}

.vacancie__desc .icons {
    position: relative;
    padding-left: 25px;
    margin-top: 5px;

    &::before {
        position: absolute;
        top: -3px;
        left: 0;
        content: '';
    }
}

.vacancie__desc .wages {
    display: flex;
    padding-left: 22px;
    font-size: 1.2rem;

    &.icons::before {
        width: 20px;
        height: 20px;
        background: url(../img/icons/vacancies/cash.svg) center center /cover no-repeat;
    }

    & .wages__cash {
        margin: 0 5px;
        font-weight: 600;
        color: var(--foxy-color);
    }

    & .wages__uah {
        font-weight: 600;
    }

    & .wages__desc {
        margin-left: 5px;
    }

}

.vacancie__desc .vacancie__place {
    & span {
        font-weight: 500;
        color: var(--dark-color);
        /* color: var(--blue-color); */
    }

    &.icons::before {
        width: 19px;
        height: 19px;
        background: url(../img/icons/vacancies/place.svg) center center /cover no-repeat;
    }
}

.vacancie__desc .vacancie__mode {
    /* color: var(--blue-color); */
    font-weight: 500;

    &.icons::before {
        width: 17px;
        height: 17px;
        background: url(../img/icons/vacancies/calendar.svg) center center /cover no-repeat;
    }
}

.vacancie__desc .vacancie__yes {
    font-weight: 500;
    margin-top: 6px;

    &.icons::before {
        width: 18px;
        height: 18px;
        background: url(../img/icons/vacancies/yes.svg) center center /cover no-repeat;
    }
}

/* content */
.vacancie__content {
    margin: 0 35px;
    padding: 0 0;
    border-radius: 3px;

    & h3 {
        margin-top: 10px;
        text-indent: 1.3em;
    }

    & p {
        margin-top: 15px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    & li:first-child {
        margin-top: 5px;
    }

    & a {
        color: var(--dark-color);

        &:hover {
            color: var(--blue-color);
        }
    }
}

/* vacancies__bottom */
.vacancies__bottom p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-indent: 2em;

    &:first-child {
        margin-top: 3vw;
    }
}

/* aside */
.vacancies__aside {
    width: 400px;
    min-width: 300px;
    height: 100%;
    position: sticky;
    top: 1vw;
    padding: 20px;
    background-color: var(--light-background);
    border-radius: 3px;
    box-shadow: 0px 0px 5px var(--blue-shadow);
    font-size: 1.1rem;

    &>p:nth-child(2) {
        margin-top: 10px;
    }

    & address {
        margin-top: 10px;
        font-style: normal;

        &>p>a {
            color: var(--blue-color);
            font-weight: 500;
        }

        &>p>span {
            color: var(--dark-color);
        }

        &>p:nth-child(3) {
            margin-top: 10px;
        }
    }

    & h3 {
        margin-top: 10px;
    }

    & span {
        font-weight: 500;
        color: var(--blue-color);
    }

}